
@font-face {
  font-family: lato;
  src: local("../fonts/fonts_custom/Lato"), url("../fonts/fonts_custom/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: raleway;
  src: local("../fonts/fonts_custom/Raleway"), url("../fonts/fonts_custom/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}