@import 'def_styles.scss';
@import 'fonts.scss';
@import 'style-icomoon.scss';


$white1:#FFF;
$violet1:#8224e3;
$blue1:#0E0932;
$orange:#ff880e;
$black1:#222222;;

$xxl:1750px;
$xl:1400px;
$l:950px;

body{
  font-family:lato;
  font-size:50px;
}



// button block
%btnDefault{
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  transition: 1s;
  border:none;
  text-align: center;
  white-space: nowrap;
}

.btn1{
  border-radius: 30px;
  font-size: 18px;
  background: linear-gradient(
                  90deg
          , #7A0FFF 0%, #46BDF4 100%);
  padding: 13px 25px;
  @extend %btnDefault;
  &:hover{
    background: linear-gradient(
                    -45deg
            , #7A0FFF, #46BDF4);
  }
}
.btn2{
  background: #46bdf4;
  padding: 17px 30px;
  border-radius: 30px;
  font-size: 18px;
  @extend %btnDefault;
  &:hover{
    background: #7a0fff;
  }

}
.btn3{
  padding: 9px 30px;
  border-radius: 5px;
  background: #46bdf4;
  font-size: 18px;
  @extend %btnDefault;
  &:hover{
    background: #7a0fff;
  }
}
//hover
.hover-line{
  position:relative;
  a:after {
    content: '';
    border: 1px solid transparent;
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -10px;
    transition: all 0.5s;
  }
  &:hover{
    a{
      color:$orange;
    }
    a:after {

      border: 1px solid #ff880e;
      width: 50px;
    }
  }
}
// soc block
.soc-bar{
  color:$white1;
  font-weight:400;
  font-size: 15px;
  a{
    &:hover {
      color: $violet1;
    }
  }
}

//header
.header{
  width:100%;
  &__upper-wrapper{
    padding:20px 20px;
    background:#0E0932;
  }
  .upper-header{
    font-size:15px;
    color:$white1;
    span, a, li{
      margin-right:10px;
    }
  }
  .main-menu{
    background:$white1;
    font-size:16px;
    .directions{
      li{
        margin-right:20px;
      }
    }
  }
}
//titles
.title-wrapper{
  text-align:center;
  .pre-title{
    color:$orange;
    font-size:14px;
    margin-bottom:10px;
  }
  h1,h2{
    font-size: 36px;
    color: $black1;
    padding-bottom: 10px;
    font-family:raleway;
  }
  .underline{
    position:relative;
    color:$orange;
    font-size:22px;
    &:before{
      content: '';
      border: 1px solid $orange;
      width: 30px;
      position: absolute;
      right: 20px;
      top: 13px;
    }
    &:after{
      content: '';
      border: 1px solid $orange;
      width: 30px;
      position: absolute;
      left: 20px;
      top: 13px;
    }
  }
  .caption{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #797979;
    line-height: 20px;
    padding-top: 20px;
  }
}
